/* assets/css/style.css */

/* Estilos globales y fondo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/Inicio_Fondo_1920_1080.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* Contenedor de nubes */
.nubes-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

/* Estilos base para nubes */
.nube {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: -1;
}

/* Imágenes específicas de nubes */
.nube-1, .nube-3, .nube-5, .nube-7, .nube-9, 
.nube-11, .nube-13, .nube-15, .nube-17, .nube-19 {
    background-image: url('../img/Nube_1.png');
}

.nube-2, .nube-4, .nube-6, .nube-8, .nube-10,
.nube-12, .nube-14, .nube-16, .nube-18, .nube-20 {
    background-image: url('../img/Nube_2.png');
}

/* Contenedor de contenido (al frente de las nubes) */
.contenido-container {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}